body {
  margin: 0;
  display: grid;
  font-family: sans-serif;
}

section {
  gap: 20px;
  background-color: #f9f6f2;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
}

img {
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  margin: 15px;
}

.class1 {
  background-color: #f1e9da;
  display: flex;
  border: 2px solid #6e9ecf;
  padding: 10px;
  border-radius: 20px;
}

h3 {
  color: #274c77;
}

.name {
  color: #95c8d8;
}
